<tr class='event-role-row' data-event-id='{{ event.pk }}'>
  <td class='date'>
    {% if event.period %}
      <span class='label label-default' data-toggle='tooltip'
        title='{{ event.start_date|date:"D "}}{{ event.start_date|date:"fA"|lower}}&ndash;{{ event.end_date|date:"fA"|lower}}'>{{event.period}}</span>
    {% else %}
      {{ event.start_date|date:"D "}}{{ event.start_date|date:"fA"|lower}}&ndash;{{ event.end_date|date:"fA"|lower}}
    {% endif %}
  </td>
  <td class='title'>{{ event.title }} <a class='btn btn-xs' href='{% url "edit_event" conference.random_slug %}?id={{ event.pk }}'>Edit</a></td>
  <td class='roles'>
      <a class='btn btn-default btn-xs add-event-role'
        href='#' data-event-id='{{ event.pk }}'>
         Add Role
       </a>
    <ul class='event-roles'>
    {% for role in event.eventrole_set.all %}
      <li>
      <a class='remove-event-role' href='{% url "event_role_crud" %}'
         data-event-role-id='{{ role.id }}'>
          <i class='glyphicon glyphicon-trash'></i>
        </a>
        <span class='role-name'>{{ role.role }}</span>
        <span class='role-assignment'>
          {% if role.person %}
            <a href='{% url "personal_schedule" conference.random_slug role.person_id %}'>{{ role.person }}</a>
          {% endif %}
          <a class='edit-event-role' href='#'
              data-event-id='{{ event.id }}'
              data-event-role-id='{{ role.id }}'
              data-roletype-id='{{ role.role.id }}'
              data-person-id='{{ role.person.id }}'>
            {% if not role.person %}&lt;assign&gt;{% endif %}
            <i class='glyphicon glyphicon-pencil'></i>
          </a>
        </span>
    {% endfor %}
    </ul>
  </td>
  <td class='venue'>
    <nobr>
      <input type='text' value='{{ event.venue.id }}' name='venue_id'
             data-url='{% url "get_available_venues" %}'
             data-update-url='{% url "update_event_attribute" %}'
             data-event-id='{{ event.id }}'
             data-venue-name='{{ event.venue.name }}'/>
      {% if is_admin %}
        <a href='{% url "venue_crud" conference.random_slug %}' title='Add venue' data-toggle='tooltip'><i class='glyphicon glyphicon-plus-sign'></i></a>
      {% endif %}
    </nobr>
  </td>
</tr>
