{% extends "base.html" %}
{% block title %}
  {% if event.id %}Edit "{{ event }}" {% else %}Add Event{% endif %}
{% endblock %}

{% block content %}
<div class='col-md-6'>
  <div class='col-sm-offset-4'>
    <h1>{% if event.id %}Edit &ldquo;{{ event }}&rdquo;{% else %}Add Event{% endif %}</h1>
  </div>
  <form method='post' action='' class='form-horizontal'>{% csrf_token %}
    {% include "_bootstrap_form_horizontal_non_field_errors.html" %}
    {% include "_bootstrap_form_horizontal_field.html" with field=form.title %}
    <div class='date-elements'>
      {% include "_bootstrap_form_horizontal_field.html" with field=form.start_date %}
      {% include "_bootstrap_form_horizontal_field.html" with field=form.end_date %}
    </div>
    {% include "_bootstrap_form_horizontal_field.html" with field=form.period %}

    <div class='add-period-elements'>
      {% include "_bootstrap_form_horizontal_field.html" with field=form.add_period %}
      <div class='period-name-elements'>
        {% include "_bootstrap_form_horizontal_field.html" with field=form.period_name %}
      </diV>
    </div>

    {% include "_bootstrap_form_horizontal_field.html" with field=form.description %}
    <div class='col-sm-4'>
      {% if event.id %}
        <button type='submit' class='btn btn-danger' name='delete' value='1'>
          Delete event
        </button>
      {% endif %}
    </div>
    <div class='col-sm-8'>
      <button type='submit' class='btn btn-primary' name='save' value='1'>
        Save event
      </button>
      <button type='submit' class='btn btn-default' name='add_another' value='1'>
        Save and add another
      </button>
    </div>
  </form>
</div>
<div class='col-md-6'>
  <div class='alert alert-warning'>
    <h2>Tips</h2>
    <ul>
      <li><b>Events</b> are moments in time and space that need to go on a schedule &ndash; including courses, sessions, plenaries, meals, etc.  In the <a href='{% url "event_assigner" conference.random_slug %}'>event assigner</a>, you can assign <b>roles</b> and <b>venues</b> to events.
      <li><b>Periods</b> are blocks of time that are shared by many events &ndash; like a "course block".  Use them as a shortcut to get the same start and end dates for several events.</li>
      <li><b>Roles</b> are volunteer or staff assignments like "Presenter", "A/V support", "Cleanup", etc.  Use roles in the <a href='{% url "event_assigner" conference.random_slug %}'>event assigner</a> to ask people to show up at a particular place and time.
      <li><b>Venues</b> are where events happen &ndash; like rooms, buildings, or addresses. <a href='{% url "venue_crud" conference.random_slug %}'>Edit venues</a>.
    </ul>
  </div>
</div>
<div style='clear: both; margin-bottom: 2em;'></div>

{% endblock %}
{% block js %}
<script type='text/javascript'>
  $("#id_period").on("change", function() {
    $(".add-period-elements").toggle($("#id_period").val() === "");
  }).change();
  $("#id_add_period").on("change", function() {
    $(".period-name-elements").toggle($("#id_add_period").is(":checked"));
  }).change();
  $("#id_period").on("change", function() {
    $(".date-elements").toggle($("#id_period").val() === "");
  }).change();
</script>
{% endblock %}
