{% extends "base.html" %}
{% load firstof from future %}
{% load schedule_tags %}
{% block title %}{% firstof filter "Master Schedule" %} | {{ conference }}{% endblock %}

{% block main %}

{% if not chunks %}
  <div class='container'>
    <div class='col-sm-6 col-sm-offset-3'>
      {% if is_admin %}
        <div class='alert alert-info'>
          Master Schedule created!
        </div>
        <p><b>How this works</b>:
        <ol>
          <li>Add volunteers and staff to the <a href='{% url "person_crud" conference.random_slug %}'>list of people</a> attending your event.  From there, you can find personalized links for surveys for each person, so that they can tell you about their availability during the conference.</li>
          <li>Next, <a href='{% url "edit_event" conference.random_slug %}'>add events</a> to the schedule.</li>
          <li>Finally, assign roles and venues to the events with the <a href='{% url "event_assigner" conference.random_slug %}'>event assigner</a>. This will build the personalized schedule for each person, as well as the master schedule here.</li>
        </ol>
        {% if conference.people.exists %}
          Next: <a class='btn btn-primary' href='{% url "edit_event" conference.random_slug %}'>Add Events</a>
        {% else %}
          First step: <a class='btn btn-primary' href='{% url "person_crud" conference.random_slug %}'>Add People</a>
        {% endif %}
      {% else %}
        The schedule will show up here when the admins have created it.
      {% endif %}
    </div>
  </div>
{% else %}
<div class='ms-page'>
  <h1>{% firstof filter "Master Schedule" %} <small><a href='?flat'>Flat view for printing</a></small> <a href='?ical'><img src='{{ STATIC_URL }}img/ical.gif' alt='ical format' /></a></h1>

  <div class='ms'>
    {% for chunk in chunks %}
      <div class='chunk'
          data-start-time='{{ chunk.start|timestamp }}'
          data-end-time='{{ chunk.end|timestamp }}'>

        <div class='timeheader'>
          <div class='timeseries header day'>
            {% for start,end,label in chunk|chunk_days %}
              <div class='day-block'
                  data-start-time='{{ start|timestamp }}'
                  data-end-time='{{ end|timestamp }}'>
                <div class='ms-label'>{{ label }}</div>
              </div>
            {% endfor %}
          </div>
          <div class='timeseries header hour'>
            {% for start,end,label in chunk|chunk_hours %}
              <div class='hour-block'
                  data-start-time='{{ start|timestamp }}'
                  data-end-time='{{ end|timestamp }}'>
                <div class='ms-label'>{{ label }}</div>
              </div>
            {% endfor %}
          </div>
        </div>
        <div class='timeseries periods'>
          {% for object in chunk.periods %}
            <div class='time-block'
                 data-start-time='{{ object.start_date|timestamp }}'
                 data-end-time='{{ object.end_date|timestamp }}'>
               <div class='ms-label'>{{ object.period }}</div>
             </div>
          {% endfor %}
        </div>
        <div class='timeseries events'>
          {% for object in chunk.events %}
            <div class='time-block'
                data-event-id='{{ object.id }}'
                data-type='{{ object.type }}'
                data-start-time='{{ object.start_date|timestamp }}'
                data-end-time='{{ object.end_date|timestamp }}'>
              <div class='ms-label'>{{ object.title }}</div>
              {% if object.venue %}
                <b><a href='{% url "venue_schedule" object.venue.random_slug %}'>{{ object.venue }}</a></b>
              {% endif %}
              <span class='date'>
                {{ object.start_date|date:"f" }}&ndash;{{ object.end_date|date:"fA" }}
              </span>
              {% if object.eventrole_set.all %}
                <ul>
                  {% for eventrole in object.eventrole_set.all %}{% spaceless %}
                    {% ifchanged eventrole.role %}
                      {% if forloop.counter0 > 0 %}</li>{% endif %}
                      <li><i>{{ eventrole.role }}</i>:
                    {% else %},{% endifchanged %}
                    {% if eventrole.person %}
                      <a href='{% url "personal_schedule" conference.random_slug eventrole.person.pk %}'>{{ eventrole.person }}</a>
                    {% else %}
                      unassigned
                    {% endif %}
                  {% endspaceless %}{% endfor %}
                  </li>
                </ul>
              {% endif %}
              
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
    <div style='clear: both;'></div>
  </div>
</div>
{% endif %}
  
{% endblock %}

{% block js %}
  <script type='text/javascript' src='{{ STATIC_URL }}js/masterschedule.js'></script>
{% endblock %}
