body {
  width: 100%;
  height: 100%;
}
.ms-page {
  padding-left: 1em;
}
.ms, .ms div {
  box-sizing: border-box;
}
.ms {
  position: relative;
  font-size: 12px;
}
.ms .chunk {
  position: relative;
  margin-left: 1em;
}
.ms .timeseries {
  position: relative;
  width: 100%;
  height: 20px;
}
.ms .timeheader {
  position: relative;
  width: 100%;
}
.ms .timeheader.affix {
  position: absolute;
  z-index: 100;
}
.ms .time-block {
  position: absolute;
  border: 1px solid #ddd;
  max-height: 250px;
  overflow-y: auto;
}
.ms .hour-block,
.ms .day-block {
  position: absolute;
  border: 1px solid #ddd;
  background-color: #eee;
}

.ms .periods .time-block {
  background-color: orange;
}

.ms .events .time-block {
  background-color: #ffe;
}

.ms .events .time-block .ms-label {
  font-weight: bold;
}

.ms .time-block ul {
  padding: 0;
  list-style: none;
}

table.ea > tr > td, table.ea > tr > th {
  font-size: 90%;
}
table.ea > tr > th {
  text-align: center;
}
.ea table.roles {
  width: 100%;
}
.ea table.roles th, .ea table.roles td {
  padding: 0.1em
}
.ea td.date {
  text-align: right;
}
.ea td.title {
  max-width: 200px;
}
.ea form.add-role {
  display: none;
}
.ea ul.event-roles {
  list-style: none;
  padding-left: 0px;
}
.person-holder {
  display: inline-block;
  width: 250px;
}
.select2-container {
  width: 100%;
}
.person-holder .loading {
  display: none;
}
.person-holder.loading .loading {
  display: inline;
}
.person-select .not-available,
.venue-select .not-available {
  color: #666;
}
.person-select .availability-note,
.venue-select .availability-note {
  font-size: 80%;
  color: #553;
}
.select2-results .select2-highlighted {
  background-color: #eef;
  color: black;
}

.ms-flat h1 { font-size: 1.4em; }
.ms-flat h2 { font-size: 1.2em; border-top: 1px solid #999 }
.ms-flat h3 { font-size: 1.0em; font-weight: bold;}
.ms-flat {font-size: 90%;}
@media print {
  .print-hide {
      display: none;
  }
}

.edit-conf .admin-item {
  padding: 0.5em;
  border-bottom: 1px solid #eee;
}
.edit-conf .admin-item.existing-user { color: #030; }
.edit-conf .admin-item.new-user { color: #666; }
.edit-conf .admin-item.removing { color: #a42; text-decoration: line-through; }
.edit-conf .admin-item .remove { float: right; }
.edit-conf .admin-item .undo { display: none; font-style: italic; }
.edit-conf .admin-item.removing .undo { display: inline; }
.edit-conf .admin-item.removing i.glyphicon,
.edit-conf .admin-item.removing span.sr-only { display: none; }
.edit-conf .admin-item .new-user-note { font-style: italic; font-size: smaller; }

