{% load schedule_tags compress %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ STATIC_URL }}vendor/bootstrap-3.2.0-dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}vendor/bootstrap-3.2.0-dist/css/bootstrap-theme.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}vendor/Pikaday-master/css/pikaday.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}vendor/select2-3.5.1/select2.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/screen.css" />
  <title>{% block title %}{% endblock %}</title>
  {% block head %}{% endblock %}
  {% if conference and not conference.public %}
    <meta name="robots" content="noindex">
  {% endif %}
</head>
<body>
  {% block nav %}
    {% if conference %}
      {% include "schedule/_conference_nav.html" %}
    {% else %}
      {% include "_main_nav.html" %}
    {% endif %}
  {% endblock %}
  {% block messages %}{% if messages %}
      <div class='container'>
        {% for message in messages %}
          <div class='{{ message.tags|message_alert_class }} col-sm-8 col-sm-offset-2'>
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            {{ message }}
          </div>
        {% endfor %}
      </div>
  {% endif %}{% endblock %}
  {% block main %}
    <div class='container'>
      {% block content %}{% endblock %}
    </div>
  {% endblock %}
  {% compress js %}
    <script type="text/javascript" src="{{ STATIC_URL }}vendor/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}vendor/jquery.color.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}vendor/bootstrap-3.2.0-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}vendor/moment.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}vendor/Pikaday-master/pikaday.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}vendor/underscore-min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}vendor/backbone-min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}vendor/select2-3.5.1/select2.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/common.js"></script>
  {% endcompress %}
  {% block js %}{% endblock %}
</body>
</htmL>
