{% extends "base.html" %}
{% block title %}Help and Support{% endblock %}

{% block content %}
<div class='col-md-6 col-md-offset-3'>
  <h1>Master Schedule Help</h1>
  <p>
  Master Schedule is a free, open source service for creating volunteer
  schedules for gatherings and conferences.  It was created to serve the needs
  of awesome groups like <a href='https://www.nasco.coop'>NASCO</a>, who run
  big conferences on a shoestring budget.
  </p>
  <p>
  We'd love to hear how your using it and whether it's meeting your needs,
  however, we can't guarantee that we'll be able to provide personal support.
  You can <a href='mailto:masterschedule@fohn.org'>Contact Us</a>  and we'll do
  what we can.
  </p>
  <p>
  The code base is <a href='https://github.com/yourcelf/masterschedule'>on
  GitHub</a> where you can add
  <a href='https://github.com/yourcelf/masterschedule/issues'>add issues</a>
  and suggest improvements.
  </p>
</div>
{% endblock %}
