<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ conference.get_absolute_url }}">{{ conference }}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href='{% url "event_assigner" conference.random_slug %}'>Event assigner (admin)</a></li>
        <li><a href='{% url "person_crud" conference.random_slug %}'>People</a></li>
        <li><a href='{% url "venue_crud" conference.random_slug %}'>Venues</a></li>
        <li><a href='{% url "roletype_crud" conference.random_slug %}'>Role Types</a></li>
        <li><a href='{% url "airport_list" conference.random_slug %}'>Airport</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


