<tr class='event-role-row' data-event-id='{{ event.pk }}'>
  <td style='text-align: right;'>
    {% if event.period %}
      <span class='label label-default' data-toggle='tooltip'
        title='{{ event.start_date|date:"D "}}{{ event.start_date|date:"fA"|lower}}&ndash;{{ event.end_date|date:"fA"|lower}}'>{{event.period}}</span>
    {% else %}
      {{ event.start_date|date:"D "}}{{ event.start_date|date:"fA"|lower}}&ndash;{{ event.end_date|date:"fA"|lower}}
    {% endif %}
  </td>
  <td>
    {{ event.title }}
  </td>
  <td>
    <table class='roles'>
      <tr class='add-form hide'>
        <td colspan='3'>
          <form class='add-role' action='{% url "add_event_role" event.pk %}'>{% csrf_token %}
            <input type='hidden' name='id' value=''>
            <table>
              <tr>
                <td>
                  <nobr>
                    <select name='role'>
                      {% for role in role_types %}
                        <option value='{{ role.pk }}'>{{ role }}</option>
                      {% endfor %}
                    </select>
                    {% if perms.schedule.add_roletype %}
                      <a href='{% url "admin:schedule_roletype_add" %}' title='Add role type' data-toggle='tooltip'><i class='glyphicon glyphicon-plus-sign'></i></a>
                    {% endif %}
                  </nobr>
                </td>
                <td style='vertical-align: top;'>
                  <span class='person-holder'>Loading...</span>
                </td>
                <td>
                  <button type='submit' class='btn btn-default btn-sm'>Add</button>
                  <a class='cancel-add-role' href='#'>Cancel</a>
                </td>
              </tr>
            </table>
          </form>
        </td>
      </tr>
      <tr class='add-button'>
        <td colspan='3'>
          <a class='btn btn-default btn-xs btn-block add-role' href='#' data-available-people-url='{% url "get_available_people" event.id %}'>Add Role</a></div>
      </td>
    {% for role in event.eventrole_set.all %}
      <tr>
        <td>
          <a class='delete-role' href='{% url "remove_event_role" role.pk %}'><i class='glyphicon glyphicon-trash'></i></a>
        </td>
        <th>{{ role.role }}</th>
        <td style='width: 100%'>
          {% if role.person %}
            <a href='{% url "personal_schedule" role.person.pk %}'>{{ role.person }}</a>
          {% endif %}
          <a class='edit-role' href='#'
              data-available-people-url='{% url "get_available_people" event.id %}'
              data-role-id='{{ role.id }}'
              data-roletype-id='{{ role.role.id }}'
              data-person-id='{{ role.person.id }}'
              data-person-name='{{ role.person|escapejs }}'><i class='glyphicon glyphicon-pencil'></i></a>
        </td>
      </tr>
    {% endfor %}
    </table>
  </td>
  <td class='venue'>
    <nobr>
      <select name='venue_id'
          data-url='{% url "update_event_attribute" event.id %}'
          data-action='update-event-attribute'>
        <option value=''></option>
        {% for venue in venues %}
          <option value='{{ venue.pk }}'
              {% if venue == event.venue %}selected="selected"{% endif %}>
            {{ venue }}
          </option>
        {% endfor %}

      </select>{% if perms.schedule.add_venue %}<a href='{% url "admin:schedule_venue_add" %}' title='Add venue' data-toggle='tooltip'><i class='glyphicon glyphicon-plus-sign'></i></a>{% endif %}
    </nobr>
  </td>
</tr>
