{% extends "base.html" %}

{% block main %}
<div class='container'>
  <h2>{{ conference }} Airport Desires</h2>
  <h3>Pickups</h3>
  <ul>
  {% for person in object_list %}
    {% if person.want_airport_pickup %}
    <li>
    <b>{{ person }}</b> <small>(availability: {{ person.availability_start_date|date:"D fA" }} - {{ person.availability_end_date|date:"D fA" }})</small>
      <div style='white-space: pre-wrap'>{{ person.airport_pickup_details }}</div>
    </li>
    {% endif %}
  {% endfor %}
  <h3>Dropoffs</h3>
  {% for person in object_list %}
    {% if person.want_airport_dropoff %}
    <li>
      <b>{{ person }}</b> <small>(availability: {{ person.availability_start_date|date:"D fA" }} - {{ person.availability_end_date|date:"D fA" }})</small>
      <div style='white-space: pre-wrap'>{{ person.airport_dropoff_details }}</div>
    </li>
    {% endif %}
  {% endfor %}
</div>
{% endblock %}
