{% extends "base.html" %}
{% block title %}Event assigner | {{ conference }}{% endblock %}
{% block main %}
<div class='container'>
  <h1>Events</h1>
  {% if perms.schedule.add_event %}
    <a class='btn btn-primary' href='{% url "admin:schedule_event_add" %}'>Add event</a>
  {% endif %}
  <table class='ea table table-condensed'>
    <tr>
      <th>Date</th>
      <th>Title</th>
      <th>Roles</th>
      <th>Venue</th>
    </tr>

    {% for event in object_list %}
      {% include "schedule/_event_role_row.html" %}
    {% endfor %}
  </table>
</div>
{% endblock %}
{% block js %}
  <script src='{{ STATIC_URL }}js/event-assigner.js'></script>
{% endblock %}
