{% extends "base.html" %}
{% load firstof from future %}
{% load schedule_tags %}
{% block title %}{{ conference }} Master Schedule{% endblock %}

{% block main %}

<div class='ms-page'>
  <h1>{% firstof filter "Master Schedule" %}</h1>
  <div class='ms'>
    {% for chunk in chunks %}
      <div class='chunk'
        data-start-time='{{ chunk.start|timestamp }}'
        data-end-time='{{ chunk.end|timestamp }}'>
                
        <div class='timeseries header day'>
          {% for start,end,label in chunk|chunk_days %}
            <div class='time-block'
                data-start-time='{{ start|timestamp }}'
                data-end-time='{{ end|timestamp }}'>
              <div class='ms-label'>{{ label }}</div>
            </div>
          {% endfor %}
        </div>
        <div class='timeseries header hour'>
          {% for start,end,label in chunk|chunk_hours %}
            <div class='time-block'
                data-start-time='{{ start|timestamp }}'
                data-end-time='{{ end|timestamp }}'>
              <div class='ms-label'>{{ label }}</div>
            </div>
          {% endfor %}
        </div>
        <div class='timeseries periods'>
          {% for object in chunk.periods %}
            <div class='time-block'
                 data-start-time='{{ object.start_date|timestamp }}'
                 data-end-time='{{ object.end_date|timestamp }}'>
               <div class='ms-label'>{{ object.period }}</div>
             </div>
          {% endfor %}
        </div>
        <div class='timeseries events'>
          {% for object in chunk.events %}
            <div class='time-block'
              data-type='{{ object.type }}'
              data-start-time='{{ object.start_date|timestamp }}'
              data-end-time='{{ object.end_date|timestamp }}'>
              {% if object.venue %}
                <b><a href='{% url "venue_schedule" object.venue_id %}'>{{ object.venue }}</a></b>
              {% endif %}
              <div class='ms-label'>{{ object.title }}</div>
              <ul>
              {% for eventrole in object.eventrole_set.all %}
                <li>
                  <b>{{ eventrole.role }}</b>:
                  {% if eventrole.person %}
                    <a href='{% url "personal_schedule" eventrole.person.pk %}'>{{ eventrole.person }}</a>
                  {% else %}
                    unassigned
                  {% endif %}
                </li>
              {% endfor %}
              </ul>
              
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
    <div style='clear: both;'></div>
  </div>
</div>
  
{% endblock %}

{% block js %}
  <script type='text/javascript' src='{{ STATIC_URL }}js/masterschedule.js'></script>
{% endblock %}
