{% extends "base.html" %}
{% block title %}{{ conference }} People{% endblock %}
{% block nav %}{% include "schedule/_conference_nav.html" %}{% endblock %}

{% block main %}
<div class='container'>
  <h1>{{ conference }} People</h1>
  <p>
    <form method='post' action=''>{% csrf_token %}
      {{ form }}
      <input class='btn btn-primary' type='submit' value='Add Person' />
    </form>
  </p>
  <ul>
    {% for person in object_list %}
      <li>
        {{ person }} &ndash; 
        <a href='{% url "availability_survey" person.pk %}'>availability</a> &ndash;
        <a href='{% url "personal_schedule" person.random_slug %}'>schedule</a>
      </li>
    {% endfor %}
  </ul>
</div>
{% endblock main %}

